.bug__list {
  &-action {
    background-color: beige;
    flex-grow: .5;
  }
  &-content {
    background-color: bisque;
    flex-grow: 5;
  }
  &-heading {
    background-color: blanchedalmond;
    flex-grow: .5;

    &--text{
      // background-color: antiquewhite; 
      padding: 10px 20px;
    }
  }
  &-layout {
    //background-color: antiquewhite;

    width: 90%;
    height: 120vh;
    margin: 0 auto;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    box-shadow: 0px 3px 7px 0px rgb(228, 227, 227);

    & > div {
      width: 90%;
      border-radius: 6px;
    }
  }
}
