<div class="home__content">
  <div class="home__title">
    <h1 class="home__title-text">Bug tracker</h1>
  </div>

  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <a [routerLink]="['reportBug']" class="home__content-create"
      >Report a bug</a
    >
  </ng-container>
</div>
<ng-template #notLoggedIn>
  <div class="button__groups">
    <a [routerLink]="'user/signin'" class="home__content-create">Sign In</a>
    <a [routerLink]="'user/signup'" class="home__content-create">Sign Up</a>
  </div>
</ng-template>
