.control {
  &__layout {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0px rgb(236, 235, 235);
    width: 90vw;
    height: 100vh;
    margin-inline: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
  }

  &__sidebar {
    // background-color: antiquewhite;
    border-radius: 8px 0 0 8px;

    &-list {
      font-size: 18px;
      list-style-type: none;

      &--item {
        &:first-child {
          height: 150px;
          background-color: transparent !important;
          margin: 15px 15px !important;
        }
        
        
        background-color: #fff;
        border-radius: 6px;
        margin: 8px 15px;

        &:hover{
            background-color: rgb(239, 237, 237);
            cursor: pointer;
        }
        &---link{
          color: #444;
          width: 100%;
          display: inline-block;
          border-radius: 6px;
          padding: 5px 15px;
          
          &:hover{
            text-decoration: none;
          }
          &:visited{
            color: #444;
          }
        }

      }
    }
  }

  &__content {
    // background-color: azure;
    border-radius: 8px;
  }
}

.user__avatar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 15px;

  &-pic {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    

    &--text {
      display: block;
      margin: 0 auto;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      color: #fff;
    }
  }

  &-ref {
    //background-color: aliceblue;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;
    height: 50px;
  }
}

.active__link{
    font-weight: 600;
    background-color: rgb(239, 237, 237);
    // &:first-child{
    //     color: blue;
    // }
}
